body{
    background: #000;
    color:#fff;
    margin: 0%;
}
.content{
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
}
.content > div{
    width: 50vw;
    height: 50vh;
    display: grid;
    justify-content: center;
    align-content: center;
    border:1px solid #fff;
}
div.info {
    top:5px;
    right: 5px;
    position:fixed;
    width: auto;
    height: 50px;
    padding: 10px;
}
