<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta charset="UTF-8" />
	<title>test</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="content">
		<%- body -%>
	</div>
</body>
</html>
